@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  --background-rgb: 0, 0, 0;
}

@font-face {
  font-family: "Noto Sans Display";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Display"),
    url(/assets/fonts/noto.woff2) format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Macondo";
  font-style: normal;
  font-weight: 400;
  src: local("Macondo"),
    url(/assets/fonts/macondo.woff2) format("woff2");
  font-display: block;
}

@layer base {
  h1 {
    font-family: 'Macondo', system-ui;
  }
  html {
    font-family: 'Noto Sans Display', system-ui;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  position: relative;
  z-index: 0;
}